@font-face {
  font-family: 'Roslindale Text';
  src: url('/hinted-subset-RoslindaleText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RT Obligat';
  src: url('/hinted-subset-RTObligat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RT Obligat';
  src: url('/hinted-subset-RTObligat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
